In [2]:
import pandas as pd

def create_companyDF(incomes, expenses, years):
    df = pd.DataFrame({
        'Incomes': incomes,
        'Expenses': expenses
        })
    df.index = years
    return df

if __name__ == '__main__':
    expenses = [156, 130, 270]
    incomes = [478, 512, 196]
    years = [2018, 2019, 2020]
    
    scienceyou = create_companyDF(incomes, expenses, years)
    print(scienceyou)

      Incomes  Expenses
2018      478       156
2019      512       130
2020      196       270

In [3]:
import pandas as pd

def create_companyDF(incomes, expenses, years):
    df = pd.DataFrame({
        'Incomes': incomes,
        'Expenses': expenses
        })
    df.index = years
    return df


def get_profit(df, year):
    if year in df.index:
        profit = df.loc[year, 'Incomes'] - df.loc[year, 'Expenses']
    else:
        return None
    return profit

if __name__ == '__main__':
    expenses = [156, 130, 270]
    incomes = [478, 512, 196]
    years = [2018, 2019, 2020]
    
    scienceyou = create_companyDF(incomes, expenses, years)
    print(get_profit(scienceyou, 2020)) #-74

-74

Далее вам предстоит проанализировать данные о результатах экзаменов по математике, чтению и письму среди студентов некоторого учебного заведения.
Информация о столбцах таблицы:

        gender — пол;
        race/ethnicity — раса/этническая принадлежность;
        parental level of education — уровень образования родителей;
        lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);
        test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
        math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [6]:
student_data = pd.read_csv('data/students_performance.csv', sep=',')
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

Данные о скольких студентах содержатся в таблице?

In [18]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Каков балл по письму у студента под индексом 155?

In [16]:
student_data.iloc[155, 7]

88

Сколько суммарно пропущенных значений в таблице?

In [19]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

Сколько столбцов в таблице имеет тип данных object?

In [20]:
student_data.describe(include='object')

,gender,race/ethnicity,parental level of education,lunch,test preparation course
count,1000,1000,1000,1000,1000
unique,2,5,6,2,2
top,female,group C,some college,standard,none
freq,518,319,226,645,642

Каков у студентов средний балл по математике?

In [21]:
student_data.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

Какая расовая группа является самой крупной в учебном заведении?

In [28]:
display(student_data.iloc[:, 1].value_counts())
student_data.iloc[:, 1].mode()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

0    group C
Name: race/ethnicity, dtype: object

Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?

In [44]:
round(student_data[student_data.iloc[:, 4] == 'completed'].iloc[:, 6].mean(), 0)

74.0

Сколько студентов получили 0 баллов по математике?

In [51]:
student_data[student_data.iloc[:, 5] == 0].shape[0]

1

Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.

In [53]:
display(student_data[student_data.iloc[:, 3] == 'standard'].iloc[:, 5].mean())
display(student_data[student_data.iloc[:, 3] == 'free/reduced'].iloc[:, 5].mean())

70.03410852713178

58.92112676056338

Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?

In [55]:
student_data.iloc[:, 2].value_counts(normalize=True) * 100

some college          22.6
associate's degree    22.2
high school           19.6
some high school      17.9
bachelor's degree     11.8
master's degree        5.9
Name: parental level of education, dtype: float64

Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

In [61]:
mask1 = student_data[student_data.iloc[:, 1] == 'group A'].iloc[:, 7].median()
mask2 = student_data[student_data.iloc[:, 1] == 'group C'].iloc[:, 7].median()
result = abs(mask1-mask2)
display(round(result, 0))

6.0