Напишите функцию delete_columns(df, col=[]), которая удаляет столбцы из DataFrame и возвращает новую таблицу. 
Если одного из указанных столбцов в таблице не существует, то функция должна возвращать None.

In [13]:
import pandas as pd

def delete_columns(df, col=[]):
    df_new = df.copy()
    for column in col:
        if column in df.iloc[0, :]:
            df_new.drop([column], axis=1, inplace=True)
        else:
            return None    
    return df_new


if __name__ == '__main__':
    customer_df = pd.DataFrame({
        'number': [0, 1, 2, 3, 4],
        'cust_id': [128, 1201, 9832, 4392, 7472],
        'cust_age': [13, 21, 19, 21, 60],
        'cust_sale': [0, 0, 0.2, 0.15, 0.3],
        'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
        'cust_order': [1400, 14142, 900, 1240, 8430]
    })
    columns_for_delete= [] #выбранные вами столбцы
    new_df = delete_columns(customer_df, columns_for_delete)
    print(new_df)

   number  cust_id  cust_age  cust_sale  cust_year_birth  cust_order
0       0      128        13       0.00             2008        1400
1       1     1201        21       0.00             2000       14142
2       2     9832        19       0.20             2002         900
3       3     4392        21       0.15             2000        1240
4       4     7472        60       0.30             1961        8430

Задан DataFrame countries_df, содержащий следующие столбцы: название страны, население (population) в миллионах человек и площадь страны (square) в квадратных километрах.
Для каждой страны рассчитайте плотность населения (количество человек на квадратный километр).

Затем по полученным данным рассчитайте среднее по плотностям населения в указанных странах. Ответ округлите до сотых.

Плотность населения рассчитывается как количество человек, проживающих на территории отдельной страны, делённое на площадь этой страны. Обратите внимание, что население в таблице представлено в миллионах.

In [14]:
from itertools import count


countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df['density'] = countries_df['population'] * 1000000 / countries_df['square']
display(round(countries_df['density'].mean(), 2))

84.93

Вам представлены данные (в формате csv) об отчётах очевидцев НЛО в США за период с 1930 по 2020 год.

В данных есть следующие признаки:

        "City" — город, где был замечен НЛО;
        "Colors Reported" — цвет объекта;
        "Shape Reported" — форма объекта;
        "State" — обозначение штата;
        "Time" — время, когда был замечен НЛО (данные отсортированы от старых наблюдений к новым). 

Прочитайте данные, сделайте преобразование времени к формату datetime и выполните задания ниже.

In [15]:
ufo_df = pd.read_csv('data/ufo.csv', sep=',')
display(ufo_df)

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?

In [30]:
ufo_df['Time'] = pd.to_datetime(ufo_df['Time'], dayfirst=False)
ufo_years = ufo_df['Time'].dt.year
display(ufo_years.value_counts())
display(ufo_years.mode())

1999    2774
2000    2635
1998    1743
1995    1344
1997    1237
        ...
1936       2
1930       2
1935       1
1934       1
1933       1
Name: Time, Length: 68, dtype: int64

0    1999
Name: Time, dtype: int64

Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).

Чтобы выделить дату из столбца Time, можно воспользоваться атрибутом datetime date.

Чтобы вычислить разницу между двумя соседними датами в столбце, примените к нему метод diff().

Чтобы перевести интервал времени в дни, воспользуйтесь атрибутом timedelta days.

In [65]:
ufo_nv_days = ufo_df[ufo_df['State'] == 'NV']['Time'].dt.date.diff().dt.days.mean()
display(round(ufo_nv_days, 0))

69.0

Представьте, что вы занимаетесь подготовкой данных о вакансиях с платформы hh.ru. В вашем распоряжении имеется таблица, в которой с помощью парсинга собраны резюме кандидатов. В этой таблице есть текстовый столбец «Опыт работы». Пример такого столбца представлен ниже в виде объекта Series. Структура текста в столбце фиксирована и не может измениться.

Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы. Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.

Обратите внимание, что опыт работы может выражаться только в годах или только в месяцах. Учтите это при построении своей функции. Кроме того, учтите возможные вариации слов месяц (месяца, месяцев) и год (года, лет).

Примените вашу функцию к Series experience_col с помощью метода apply().

In [83]:
def get_experience(arg):
    
    year_list = ['лет', 'года', 'год']
    month_list = ['месяц', 'месяца', 'месяцев']
    experience_list = arg.split(sep=' ')
    exp_year = 0
    exp_mnth = 0
    for i in range(len(experience_list)):
        if experience_list[i] in year_list:
            exp_year = experience_list[i-1]
        if experience_list[i] in month_list:
            exp_mnth = experience_list[i-1]
    result = 12*int(exp_year) + int(exp_mnth)
    return result
                


if __name__ == '__main__':
    experience_col = pd.Series([
        'Опыт работы 8 лет 3 месяца',
        'Опыт работы 3 года 5 месяцев',
        'Опыт работы 1 год 9 месяцев',
        'Опыт работы 3 месяца',
        'Опыт работы 6 лет'
        ])
    experience_month = experience_col.apply(get_experience)
    print(experience_month)

0    99
1    41
2    21
3     3
4    72
dtype: int64

In [84]:
def get_experience(arg):
    
    year_list = ['лет', 'года', 'год']
    month_list = ['месяц', 'месяца', 'месяцев']
    experience_list = arg.split(sep=' ')
    exp_year = 0
    exp_mnth = 0
    if len(experience_list) == 6:
        exp_mnth = experience_list[-2]
        exp_year = experience_list[-4]
    elif len(experience_list) == 4:
        for i in year_list:
            if i in experience_list:
                exp_year = experience_list[-2]
        for i in month_list:
            if i in experience_list:
                exp_mnth = experience_list[-2]   
    result = 12*int(exp_year) + int(exp_mnth)
    return result
                


if __name__ == '__main__':
    experience_col = pd.Series([
        'Опыт работы 8 лет 3 месяца',
        'Опыт работы 3 года 5 месяцев',
        'Опыт работы 1 год 9 месяцев',
        'Опыт работы 3 месяца',
        'Опыт работы 6 лет'
        ])
    experience_month = experience_col.apply(get_experience)
    print(experience_month)

0    99
1    41
2    21
3     3
4    72
dtype: int64

На этот раз мы поговорим о спорте, а точнее — о велоспорте. 

Вашим заданием в этом модуле будет проанализировать и преобразовать данные о велопоездках клиентов компании Citi Bike (США), специализирующейся на прокате велосипедов.

Скачать датасет в формате csv можно здесь.

Датасет представляет собой таблицу с информацией о 300 тысячах поездок за первые пять дней сентября 2018 года и включает в себя следующую информацию:

        starttime — время начала поездки (дата, время);
        stoptime — время окончания поездки (дата, время);
        start station id — идентификатор стартовой стоянки;
        start station name — название стартовой стоянки;
        start station latitude, start station longitude — географическая широта и долгота стартовой стоянки;
        end station id — идентификатор конечной стоянки;

        end station name — название конечной стоянки;
        end station latitude, end station longitude — географическая широта и долгота конечной стоянки;
        bikeid — идентификатор велосипеда;
        usertype — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);
        birth year — год рождения клиента;
        gender — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).

Оригинальный источник данных вы можете найти здесь. Он представляет собой таблицу на 1,7 миллиона строк. В учебных целях мы удалили из датасета несколько признаков, а также уменьшили число строк.

Итак, начнём с разминки и произведём базовый анализ, чтобы познакомиться с данными поближе, а заодно повторим темы предыдущего модуля.

In [101]:
bike_df = pd.read_csv('data/citibike-tripdata.csv', sep=',')
display(bike_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

None

In [142]:
display(bike_df)

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,gender,age
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1,38
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,0,49
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1,43
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,2,34
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1,24
...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2018-09-05 19:08:27.8460,2018-09-05 19:15:51.4940,W 26 St & 8 Ave,40.747348,-73.997236,W 37 St & 10 Ave,40.756604,-73.997901,19531,Subscriber,2,28
299996,2018-09-05 19:08:28.3700,2018-09-05 19:20:01.5080,Kent Ave & N 7 St,40.720368,-73.961651,Graham Ave & Conselyea St,40.715143,-73.944507,34020,Subscriber,1,36
299997,2018-09-05 19:08:27.5090,2018-09-05 19:13:40.5060,Gansevoort St & Hudson St,40.739448,-74.005070,W 18 St & 6 Ave,40.739713,-73.994564,33220,Subscriber,1,27
299998,2018-09-05 19:08:29.2300,2018-09-05 20:04:29.3220,W 11 St & 6 Ave,40.735324,-73.998004,Broadway & W 60 St,40.769155,-73.981918,34744,Subscriber,0,43
299999,2018-09-05 19:08:29.7110,2018-09-05 19:12:14.7620,1 Ave & E 110 St,40.792327,-73.938300,Lexington Ave & E 111 St,40.795412,-73.944123,18292,Subscriber,1,52

Задание 6.1
Сколько пропусков в столбце start station id?

In [92]:
display(bike_df.describe())
300000 - bike_df['start station id'].count()

,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,299831.000000,300000.000000,300000.000000,299831.000000,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,1695.665665,40.737769,-73.982042,1684.624298,40.737294,-73.982330,26688.525943,1979.364803,1.108647
std,1458.264055,0.031999,0.020207,1457.549589,0.031794,0.020261,6271.691143,11.920796,0.613398
min,72.000000,40.655400,-74.025353,72.000000,40.655400,-74.083639,14529.000000,1885.000000,0.000000
25%,387.000000,40.716226,-73.995991,387.000000,40.716059,-73.996621,20569.000000,1969.000000,1.000000
50%,519.000000,40.737262,-73.985162,519.000000,40.737050,-73.985649,28197.000000,1982.000000,1.000000
75%,3282.000000,40.760683,-73.970416,3282.000000,40.760094,-73.971092,32216.000000,1989.000000,1.000000
max,3705.000000,40.869000,-73.878000,3705.000000,40.869000,-73.878000,34863.000000,2002.000000,2.000000

169

Задание 6.2
Какой тип данных имеют столбцы starttime и stoptime?

In [100]:
display(bike_df['starttime'].info())
display(bike_df['stoptime'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: starttime
Non-Null Count   Dtype
--------------   -----
300000 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB

None

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: stoptime
Non-Null Count   Dtype
--------------   -----
300000 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB

None

Задание 6.3
Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [105]:
int(bike_df['start station id'].mode())

281

Задание 6.4
Велосипед с каким идентификатором является самым популярным?

In [106]:
bike_df['bikeid'].mode()

0    33887
Name: bikeid, dtype: int64

Задание 6.5
Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [109]:
display(round(bike_df['usertype'].value_counts(normalize=True), 2))

Subscriber    0.77
Customer      0.23
Name: usertype, dtype: float64

Задание 6.6

Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [114]:
bike_df['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

Задание 6.7 
Выберите утверждения,которые соответствуют нашим данным:
A Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу
B В рассматриваемые дни минимальный возраст клиента составлял 10 лет
C Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием "Eastern Pkwy & Washington Ave"
D Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail"

In [116]:
display(bike_df['start station id'].nunique())
display(bike_df['end station id'].nunique())

759

765

In [127]:
display(bike_df[bike_df['usertype'] == 'Customer']['birth year'].max())

2002

In [122]:
display(bike_df['start station name'].value_counts())

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [123]:
display(bike_df['end station name'].value_counts())

West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

Задание 6.8

В первую очередь удалим лишнюю информацию из данных.

В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

In [129]:
bike_df = bike_df.drop('start station id', axis=1)
bike_df = bike_df.drop('end station id', axis=1)
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

Задание 6.9

Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [141]:
bike_df[bike_df['age'] > 60].describe()

,start station latitude,start station longitude,end station latitude,end station longitude,bikeid,gender,age
count,11837.000000,11837.000000,11837.000000,11837.000000,11837.000000,11837.000000,11837.000000
mean,40.742106,-73.984905,40.741704,-73.985144,26813.768522,1.230295,66.273634
std,0.029948,0.017302,0.029628,0.017452,6241.190248,0.438920,7.670990
min,40.655400,-74.025353,40.655400,-74.025353,14529.000000,0.000000,61.000000
25%,40.722104,-73.996674,40.722055,-73.997047,20743.000000,1.000000,62.000000
50%,40.740964,-73.987030,40.740259,-73.987216,28312.000000,1.000000,64.000000
75%,40.763441,-73.975748,40.762699,-73.976289,32300.000000,1.000000,68.000000
max,40.814394,-73.907744,40.814394,-73.907744,34863.000000,2.000000,133.000000

Задание 6.10

Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [150]:
bike_df['stoptime'] = pd.to_datetime(bike_df['stoptime'], dayfirst=True)
bike_df['starttime'] = pd.to_datetime(bike_df['starttime'], dayfirst=True)
time_delta = bike_df['stoptime'] - bike_df['starttime']
display(time_delta[3])

Timedelta('0 days 00:07:16.837000')

Задание 6.11

Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

In [164]:
weekday = bike_df['starttime'].dt.day_of_week
weekend = weekday.apply(lambda x: 1 if x == 5 or x == 6 else 0)
display(weekend.value_counts())

0    184865
1    115135
Name: starttime, dtype: int64

Задание 6.12

Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:

    поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
    поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
    поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
    поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).

Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

In [188]:
hour_time = bike_df['starttime'].dt.hour

def time_of_day(arg):
    if 0 <= arg <= 6:
        return 'night'
    elif 6 < arg <= 12:
        return 'morning'
    elif 12 < arg <= 18:
        return 'day'
    elif 18 < arg <= 23:
        return 'evening'

day_time = hour_time.apply(time_of_day)
display(day_time.value_counts())
round(143012 / 15085, 0)

day        143012
morning     95530
evening     46373
night       15085
Name: starttime, dtype: int64

9.0