## 0.1 Importing libraries

In [1525]:
import joblib
import numpy
# Linear algebra
import numpy as np

import datetime

from selenium import webdriver
from selenium.webdriver.common.by import By

# dataframe management
import pandas as pd

# regular expressions
import re

# Statistical tests
from statistics import mean

from joblib import load

### 1.2 Web scrapping

In [1526]:
browser = webdriver.Chrome()

url = f'https://www.nettiauto.com'
browser.get(url)
all_makes = browser.find_elements(By.CSS_SELECTOR, '#srch_id_make')[0].text
browser.close()

all_makes = all_makes.replace('\n', ', ').replace('  ', '').split(', ')
all_makes = all_makes[11:-1]

all_makes

['Acura',
 'Alfa Romeo',
 'AMC',
 'Aston Martin',
 'Audi',
 'Austin',
 'Bedford',
 'Bentley',
 'BMW',
 'BMW Alpina',
 'Buick',
 'BYD',
 'Cadillac',
 'Chandler',
 'Chevrolet',
 'Chrysler',
 'Citroen',
 'Cobra',
 'Commer',
 'Cupra',
 'Dacia',
 'Daewoo',
 'Daf',
 'Daihatsu',
 'Daimler',
 'Datsun',
 'Datsun-Nissan',
 'DeSoto',
 'DKW',
 'Dodge',
 'Donau',
 'DS',
 'Edsel',
 'EMW',
 'Essex',
 'Ferrari',
 'Fiat',
 'Fiat-Abarth',
 'Fisker',
 'Ford',
 'GAZ',
 'GMC',
 'Hillman',
 'Honda',
 'Hudson',
 'Humber',
 'Hummer',
 'Hyundai',
 'Ifa',
 'Imperial',
 'Infiniti',
 'International',
 'Inzile',
 'Isuzu',
 'Iveco',
 'Jaguar',
 'Jeep',
 'Kia',
 'Lada',
 'Lamborghini',
 'Lancia',
 'Land Rover',
 'Lexus',
 'Leyland',
 'Lincoln',
 'Lloyd',
 'London taxi',
 'Lotus',
 'LuAZ',
 'Lynk & Co',
 'MAN',
 'Maserati',
 'Matra',
 'Maxus',
 'Mazda',
 'McLaren',
 'Mercedes-Benz',
 'Mercury',
 'MG',
 'Mini',
 'Mitsubishi',
 'Mitsubishi Fuso',
 'Morris',
 'Moskvitsh',
 'Muu merkki',
 'Nissan',
 'NSU',
 'Oldsmobile',
 'Opel',
 'Packard',
 'Peugeot',
 'Plymouth',
 'Polestar',
 'Pontiac',
 'Porsche',
 'RAM',
 'Rambler',
 'Renault',
 'Reo',
 'Riley',
 'Rolls-Royce',
 'Rover',
 'Saab',
 'Santana',
 'Seat',
 'Simca',
 'Skoda',
 'Smart',
 'SsangYong',
 'Studebaker',
 'Subaru',
 'Sunbeam',
 'Suzuki',
 'Talbot',
 'Teijo',
 'Tesla',
 'Think',
 'Toyota',
 'Trabant',
 'Triumph',
 'TruckMasters',
 'UAZ',
 'Vauxhall',
 'Volga',
 'Volkswagen',
 'Volvo',
 'Voyah',
 'Wartburg',
 'Willys',
 'Wolseley',
 'Zastava']

In [1527]:
data_dict = {}
data = pd.DataFrame(data_dict)
browser = webdriver.Chrome()
options = webdriver.ChromeOptions()
options.add_argument("--start-maximized")

url = f'https://www.nettiauto.com/en/vaihtoautot?new=H&sortCol=price&ord=ASC&id_country[]=73'
browser.get(url)
number_of_pages = browser.find_elements(By.CSS_SELECTOR, '#pagingData > div > span.navigation_link > a.pageNavigation.dot_block')
number_of_pages = int(number_of_pages[0].text)
print(f'Initiating web-scraping of {number_of_pages}...')
browser.close()

for page in range(1, number_of_pages+1):

    browser = webdriver.Chrome()
    options.add_argument("--start-maximized")

    url = f'https://www.nettiauto.com/vaihtoautot?page={page}'
    browser.get(url)
    make_list = browser.find_elements(By.CSS_SELECTOR, '[class="make_model_link"]')
    desc_list = browser.find_elements(By.CSS_SELECTOR, '[class="checkLnesFlat for_rent_one_line"]')
    key_char_list = browser.find_elements(By.CSS_SELECTOR, '[class="vehicle_other_info clearfix_nett"]')
    places_list = browser.find_elements(By.CSS_SELECTOR, '[class="gray_text"]')
    sellers_list = browser.find_elements(By.CSS_SELECTOR, '[class="no_wrap gray_text"]')
    price_list = browser.find_elements(By.CSS_SELECTOR, '[class="price_block"]')
    ids_list = browser.find_elements(By.CSS_SELECTOR, '[class="childVifUrl tricky_link"]')

    print(len(make_list), len(desc_list), len(key_char_list), len(places_list), len(sellers_list), len(price_list), len(ids_list))

    if len(make_list) == len(desc_list) == len(key_char_list) == len(places_list) == len(sellers_list) == len(price_list) == len(ids_list):
        makes = []
        descs = []
        key_chars = []
        places = []
        sellers = []
        prices = []
        ids = []
        
        for val in range(len(make_list)):
            makes.append(make_list[val].text)
            descs.append(desc_list[val].text)
            key_chars.append(key_char_list[val].text.replace('\n', ' | '))
            places.append(places_list[val].text)
            sellers.append(sellers_list[val].text)
            prices.append(price_list[val].text)
            ids.append(ids_list[val].get_attribute('href'))

    else:
        print('Error! Number of values in columns is different!')
        continue

    data_dict['make'] = makes
    data_dict['desc'] = descs
    data_dict['key_char'] = key_chars
    data_dict['town'] = places
    data_dict['seller'] = sellers
    data_dict['price'] = prices
    data_dict['id'] = ids
    
    data_new = pd.DataFrame(data_dict)
    data = pd.concat([data, data_new])
    data.to_csv('/Users/egor/Documents/data_science_course/project_7/data/data_new24.csv')
    print(f'Page {page} out of {number_of_pages} completed')
    browser.close()

Initiating web-scraping of 79...
32 32 32 32 32 32 32
Page 1 out of 79 completed
30 30 30 30 30 30 30
Page 2 out of 79 completed
30 30 30 30 30 30 30
Page 3 out of 79 completed
30 30 30 30 30 30 30
Page 4 out of 79 completed
30 30 30 30 30 30 30
Page 5 out of 79 completed
30 30 30 30 30 30 30
Page 6 out of 79 completed
30 30 30 30 30 30 30
Page 7 out of 79 completed
30 30 30 30 30 30 30
Page 8 out of 79 completed
30 30 30 30 30 30 30
Page 9 out of 79 completed
30 30 30 30 30 30 30
Page 10 out of 79 completed
30 30 30 30 30 30 30
Page 11 out of 79 completed
30 30 30 30 30 30 30
Page 12 out of 79 completed
30 30 30 30 30 30 30
Page 13 out of 79 completed
30 30 30 30 30 30 30
Page 14 out of 79 completed
30 30 30 30 30 30 30
Page 15 out of 79 completed
30 30 30 30 30 30 30
Page 16 out of 79 completed
30 30 30 30 30 30 30
Page 17 out of 79 completed
30 30 30 30 30 30 30
Page 18 out of 79 completed
30 30 30 30 30 30 30
Page 19 out of 79 completed
30 30 30 30 30 30 30
Page 20 out of 79 completed
30 30 30 30 30 30 30
Page 21 out of 79 completed
30 30 30 30 30 30 30
Page 22 out of 79 completed
30 30 30 30 30 30 30
Page 23 out of 79 completed
30 30 30 30 30 30 30
Page 24 out of 79 completed
30 30 30 30 30 30 30
Page 25 out of 79 completed
30 30 30 30 30 30 30
Page 26 out of 79 completed
30 30 30 30 30 30 30
Page 27 out of 79 completed
30 30 30 30 30 30 30
Page 28 out of 79 completed
30 30 30 30 30 30 30
Page 29 out of 79 completed
30 30 30 30 30 30 30
Page 30 out of 79 completed
30 30 30 30 30 30 30
Page 31 out of 79 completed
30 30 30 30 30 30 30
Page 32 out of 79 completed
30 30 30 30 30 30 30
Page 33 out of 79 completed
30 30 30 30 30 30 30
Page 34 out of 79 completed
30 30 30 30 30 30 30
Page 35 out of 79 completed
30 30 30 30 30 30 30
Page 36 out of 79 completed
30 30 30 30 30 30 30
Page 37 out of 79 completed
30 30 30 30 30 30 30
Page 38 out of 79 completed
30 30 30 30 30 30 30
Page 39 out of 79 completed
30 30 30 30 30 30 30
Page 40 out of 79 completed
30 30 30 30 30 30 30
Page 41 out of 79 completed
30 30 30 30 30 30 30
Page 42 out of 79 completed
30 30 30 30 30 30 30
Page 43 out of 79 completed
30 30 30 30 30 30 30
Page 44 out of 79 completed
30 30 30 30 30 30 30
Page 45 out of 79 completed
30 30 30 30 30 30 30
Page 46 out of 79 completed
30 30 30 30 30 30 30
Page 47 out of 79 completed
30 30 30 30 30 30 30
Page 48 out of 79 completed
30 30 30 30 30 30 30
Page 49 out of 79 completed
30 30 30 30 30 30 30
Page 50 out of 79 completed
30 30 30 30 30 30 30
Page 51 out of 79 completed
30 30 30 30 30 30 30
Page 52 out of 79 completed
30 30 30 30 30 30 30
Page 53 out of 79 completed
30 30 30 30 30 30 30
Page 54 out of 79 completed
30 30 30 30 30 30 30
Page 55 out of 79 completed
30 30 30 30 30 30 30
Page 56 out of 79 completed
30 30 30 30 30 30 30
Page 57 out of 79 completed
30 30 30 30 30 30 30
Page 58 out of 79 completed
30 30 30 30 30 30 30
Page 59 out of 79 completed
30 30 30 30 30 30 30
Page 60 out of 79 completed
30 30 30 30 30 30 30
Page 61 out of 79 completed
30 30 30 30 30 30 30
Page 62 out of 79 completed
30 30 30 30 30 30 30
Page 63 out of 79 completed
30 30 30 30 30 30 30
Page 64 out of 79 completed
30 30 30 30 30 30 30
Page 65 out of 79 completed
30 30 30 30 30 30 30
Page 66 out of 79 completed
30 30 30 30 30 30 30
Page 67 out of 79 completed
30 30 30 30 30 30 30
Page 68 out of 79 completed
30 30 30 30 30 30 30
Page 69 out of 79 completed
30 30 30 30 30 30 30
Page 70 out of 79 completed
30 30 30 30 30 30 30
Page 71 out of 79 completed
30 30 30 30 30 30 30
Page 72 out of 79 completed
30 30 30 30 30 30 30
Page 73 out of 79 completed
30 30 30 30 30 30 30
Page 74 out of 79 completed
30 30 30 30 30 30 30
Page 75 out of 79 completed
30 30 30 30 30 30 30
Page 76 out of 79 completed
30 30 30 30 30 30 30
Page 77 out of 79 completed
30 30 30 30 30 30 30
Page 78 out of 79 completed
30 30 30 30 30 30 30
Page 79 out of 79 completed

# 2. Data wrangling

In [1546]:
data = pd.read_csv('/Users/egor/Documents/data_science_course/project_7/data/data_new24.csv')

In [1547]:
def get_engine_volume(sample_string):
    pattern = r'\((.*?)\)'
    values_in_brackets = re.findall(pattern, sample_string)
    # for some cars engine volume is not indicated (for example electric cars)
    # i'll tag them with -1
    if len(values_in_brackets) == 0:
        return -1
    elif len(values_in_brackets) == 1:
        return values_in_brackets[0] 
    # in case if string has several values in brackets
    else:
        return 'Error'

# applying function to "make" feature and creating "engine_vol" column
data['engine_vol'] = data['make'].apply(lambda x: get_engine_volume(x))

In [1548]:
def extract_make_name(sample_string, make_list):
    for make in make_list:
        if make in sample_string:
            return make
    return None  # Return None if no matching make is found


data['car_make'] = data['make'].apply(lambda x: extract_make_name(x, all_makes))

In [1549]:
def extract_model_name(sample_string, make_list):
    pattern = r'\s*\(\d+\.\d+\)'
    values_in_brackets = re.findall(pattern, sample_string)
    if len(values_in_brackets) == 1:
        sample_string = sample_string.replace(values_in_brackets[0], '')
    for make in make_list:
        if make in sample_string:
            sample_string = sample_string.replace(make, '').strip()
    return sample_string  # Return None if no matching make is found

data['model'] = data['make'].apply(lambda x: extract_model_name(x, all_makes))

In [1550]:
data['make_model'] = data['car_make'] + ' ' + data['model']

In [1551]:
data['desc'] = data['desc'].astype(str)

data['roadworthy'] = data['desc'].apply(lambda x: 0 if 'Ei tieliikennekelpoinen' in x else 1)

In [1552]:
awd_types = ['awd', '4wd', '4x4', 'xdrive', '4matic', 'quattro', 'all-wheel drive', 'all wheel', 'super select']

def is_awd(sample_string, awd_types):
    sample_string = sample_string.lower()
    for type in awd_types:
        if type in sample_string:
            return 1
    return 0  # Return 0 if no matching type is found


data['awd'] = data['desc'].apply(lambda x: is_awd(x, awd_types))

In [1553]:
categories = {
    'sedan': 'Sedan',
    'avant': 'Universal',
    'van': 'Minivan',
    'combi': 'Universal',
    'tourer': 'Universal',
    'wagon': 'Universal',
    'touring': 'Universal',
    'farmari': 'Universal',
    'sportback': 'Hatchback',
    'coupe': 'Coupe',
    'coupé': 'Coupe',
    'hatchback': 'Hatchback',
    'cabriolet': 'Cabriolet',
    'convertible': 'Cabriolet',
    'cabrio': 'Cabriolet',
    'pickup': 'Pickup',
    'spaceback': 'Hatchback',
    'crossover': 'Jeep',
    'estate': 'Universal',
    'sportswagon': 'Universal',
    'shooting': 'Universal',
    'targa': 'Coupe',
    'hardtop': 'Coupe',
    'saloon': 'Sedan',
    'roadster': 'Coupe',
    'spider': 'Coupe',
    'turismo': 'Hatchback',
    'mpv': 'Minivan',
    'fastback': 'Coupe',
    'suv': 'Jeep'
}

def get_category(sample_string, categories):
    sample_string = sample_string.lower().split(' ')
    for word in sample_string:
        if word in categories:
            return categories.get(word)

data['category'] = data['desc'].apply(lambda x: get_category(x, categories))

In [1554]:
doors_count = {
    '5-ovinen,': '4/5',
    '5-door': '4/5',
    '5-ovinen': '4/5',
    '#5-ovinen': '4/5',
    '2ov': '2/3',
    '2-door': '2/3',
    '3-door': '2/3',
    '3ov': '2/3',
    '2-ov': '2/3',
    '4ov': '4/5',
    '4-ov': '4/5',
    '4door': '4/5',
    '5-ov,': '4/5',
    'kaksiovinen': '2/3',
    '2d': '2/3',
    '3d': '2/3',
    '4d': '4/5',
    '5d': '4/5'
    }

def get_doors(sample_string, doors_count):
    sample_string = sample_string.lower().split(' ')
    for word in sample_string:
        if word in doors_count:
            return doors_count.get(word)

data['doors'] = data['desc'].apply(lambda x: get_doors(x, doors_count))

Moving further. I'll review 'desc' column which contains description about the car. We can identify 2 key features: 
- whether the car is roadworthy or not. Some cars have "Ei tieliikennekelpoinen" in description which means that it is not roadworthy and repair is required.
- whether the car has all-wheel drive option. There are several ways to define that car has AWD system, for example, xDrive for BMW or 4matic for Mercedes-Benz

In [1555]:
def extract_horsepower(string):
    string = string.lower()
    pattern = r'(\d+)\s*hv'
    match = re.search(pattern, string)
    if match:
        return int(match.group(1))

data['hp'] = data['desc'].apply(lambda x: extract_horsepower(x))

In [1556]:
def extract_power(string):
    string = string.lower()
    pattern = r'(\d+)\s*kw(?!h)'
    match = re.search(pattern, string)
    if match:
        return int(match.group(1))

data['power'] = data['desc'].apply(lambda x: extract_power(x))

In [1557]:
def extract_capacity(string):
    string = string.lower()
    pattern = r'(\d+)\s*kwh'
    match = re.search(pattern, string)
    if match:
        return int(match.group(1))

data['capacity'] = data['desc'].apply(lambda x: extract_capacity(x))

In [1558]:
def organize_key_char(sample_string):
    sample_list = sample_string.split('|')
    for i in range(len(sample_list)):
        sample_list[i] = sample_list[i].strip()
    return sample_list
        
data['key_char'] = data['key_char'].apply(lambda x: organize_key_char(x))

In [1559]:
fuel_type = ['Bensiini', 'Diesel', 'Hybridi (bensiini/sähkö)', 'Hybridi (diesel/sähkö)', 'Sähkö', 'Kaasu', 'E85/bensiini', 'Ei saatavilla']
gearbox_type = ['Automaatti', 'Manuaali']

In [1560]:
data['year'] = data['key_char'].apply(lambda x: x[0].strip())
data['year'] = data['year'].astype(int)
curr_time = datetime.datetime.now()
data['age'] = data['year'].apply(lambda x: curr_time.year - x)
data['age'] = data['age'].apply(lambda x: 0 if x==-1 else x)

In [1561]:
def extract_mileage(sample_list):
    if 'km' in sample_list[1]:
        return sample_list[1].strip()[:-2].replace(' ', '')
    else:
        '-1'
    
data['mileage'] = data['key_char'].apply(lambda x: extract_mileage(x))

In [1562]:
fuel_type = ['Bensiini', 'Diesel', 'Hybridi (bensiini/sähkö)', 'Hybridi (diesel/sähkö)', 'Sähkö', 'Kaasu', 'E85/bensiini', 'Ei saatavilla']
gearbox_type = ['Automaatti', 'Manuaali']

def get_type(sample_list, types):
    for type in types:
        if type in sample_list:
            return type

data['fuel_type'] = data['key_char'].apply(lambda x: get_type(x, fuel_type))
data['gearbox_type'] = data['key_char'].apply(lambda x: get_type(x, gearbox_type))

In [1563]:
car_dealers = ['J. Rinta-Jouppi', 'Autokeskus Oy', 'Autolle.com', 'Suursavonauto.fi', 'Wetteri', 'AC Auto-Center', 'Rinta-Joupin Autoliike', 'Hedin Automotive', 'LänsiAuto', 'Kamux', 'K-auto', 'Saka Finland Oy', 'Secto Vaihtoautot', 'Autotalo', 'Auto-Suni', 'Nelipyörä', 'Ford Store', 'Hedin Automotive', 'Automaa', 'Bavaria', 'Toyota', 'Omax', 'ALD Carmarket', 'Delta Auto', 'Pörhö', 'Veho', 'Bilar99e', 'Autosalpa', 'Vaihtokaara', 'Auto-Kilta', 'Autodeal', 'Keskusautohalli Oy', 'Helkama-Auto', 'MB-mobile', 'XBIL', 'Autoverkkokauppa.fi', 'Kupen auto', 'KymppiPlus', 'Menoauto', 'Vaihtoautomaa', 'ALD Carmarket', 'MS-auto', 'Euro Auto', 'Tojo-Auto', 'Porsche Center', 'Levorannan Autoliike', 'SCC - Sports Car Center', 'Ajanvaunu Oy', 'Auto-Kehä Oy', 'Auto-Eekoo']

def group_seller(sample_string, car_dealers):
    sample_string = sample_string.lower()
    for dealer in list(map(str.lower, car_dealers)):
        x = sample_string.replace(dealer, '')
        if(len(x) != len(sample_string)):
            return dealer.lower()
    return sample_string
        
data['car_seller'] = data['seller'].apply(lambda x: group_seller(x, car_dealers))
data['car_seller'] = data['car_seller'].astype(str)
data['car_seller'] = data['car_seller'].apply(lambda x: x.lower())

In [1564]:
data['price'] = data['price'].apply(lambda x: x.split('\n'))

In [1565]:
data['car_price'] = data['price'].apply(lambda x: x[0].replace('€', '').replace(' ', ''))

In [1566]:
def extract_deal(sample_list):
    try:
        if '(' in sample_list[1]:
            return sample_list[1].replace('(', '').replace(')', '').strip()
        else:
            return None
    except IndexError:
        return None

data['deal'] = data['price'].apply(lambda x: extract_deal(x))

## Data cleaning

In [1567]:
data = data.drop(columns=['Unnamed: 0', 'make', 'desc', 'key_char', 'price', 'seller'])

In [1568]:
data = data.dropna(subset=['mileage', 'make_model'])

In [1569]:
to_be_deleted = set()

In [1570]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2197 entries, 0 to 2371
Data columns (total 21 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   town          2197 non-null   object
 1   id            2197 non-null   object
 2   engine_vol    2197 non-null   object
 3   car_make      2197 non-null   object
 4   model         2197 non-null   object
 5   make_model    2197 non-null   object
 6   roadworthy    2197 non-null   int64
 7   awd           2197 non-null   int64
 8   category      266 non-null    object
 9   doors         763 non-null    object
 10  hp            44 non-null     float64
 11  power         63 non-null     float64
 12  capacity      0 non-null      object
 13  year          2197 non-null   int64
 14  age           2197 non-null   int64
 15  mileage       2197 non-null   object
 16  fuel_type     2197 non-null   object
 17  gearbox_type  2194 non-null   object
 18  car_seller    2197 non-null   object
 19  car_price     2197 non-null   object
 20  deal          13 non-null     object
dtypes: float64(2), int64(4), object(15)
memory usage: 377.6+ KB

Some cars don't have make and model indicated. They are indicated as 'Muu merkki' and 'Muu malli' which means 'Other make' and 'Other model'.

In [1571]:
no_make_model = data[(data['model'] == 'Muu malli') | (data['car_make'] == 'Muu merkki')].index
to_be_deleted.update(no_make_model)

Previously we've identified cars that are broken and require repair. We can't evaluate volume of investment to repair each particular car so I'd prefer to delete all cars that are not roadworthy from the dataset.

In [1572]:
to_be_deleted.update(data[data['roadworthy'] == 0].index)

In 'Gearbox' column we have more than 11000 NaN values. We can't delete all of them as we'll lose too much useful data. However, using common sense and knowledge about car mechanics we can transform this column. Firstly, manual transmission is only available in mild hybrid vehicles because full hybrid cars can only work optimally with an automatic transmission. Therefore all hybrid cars in the dataset could be marked as having 'Automatti' gearbox. Electric motors deliver their power in such a way that they feel similar to automatic petrol or diesel cars to drive, but while automatic petrol and diesel cars have multiple gears to choose from, electric cars tend to have only a single gear. In this regard I assume that electric (or Sähkö) cars could be marked 'Automatti' as well.

In [1573]:
nan_gearbox = data[data['gearbox_type'].isna()]

In [1574]:
automaatti_index = nan_gearbox[(nan_gearbox['fuel_type'] == 'Hybridi (bensiini/sähkö)') | (nan_gearbox['fuel_type'] == 'Hybridi (diesel/sähkö)') | (nan_gearbox['fuel_type'] == 'Sähkö')].index
data.loc[automaatti_index, 'gearbox_type'] = 'Automaatti'

In [1575]:
data_automaatti_index = data[(data['fuel_type'] == 'Hybridi (bensiini/sähkö)') | (data['fuel_type'] == 'Hybridi (diesel/sähkö)') | (data['fuel_type'] == 'Sähkö')].index
data.loc[data_automaatti_index, 'gearbox_type'] = 'Automaatti'

In [1576]:
to_be_deleted.update(data[data['gearbox_type'].isna()].index)

Previously we've extracted several deal types. They are: 'Tax free', 'ALV väh.kelp.' and 'sis. ALV'. I'll explain this in detail.
 - Tax free' means that VAT is not included into car price. Usually such cars are sold outside Finland and purchase of such car requires additional car tax payment which is calculated based on vehicle's category, selling price, date of first registration and CO2 values. Car with this status usually cost significantly cheaper than same car that has already been registered in Finland. It means all ads with 'Tax free' shall be deleted from dataset.
  - 'ALV väh.kelp.' and 'sis. ALV' statuses mean that VAT was included in the car price and it could be deducted. Finnish tax legislation allows such deduction if car is purchased for company and is used only for work related purposes. Such practice is quite popular in Finland, however, it requires strict reporting to tax administration related to car usage. For this project goal such status does not have affect on price as all taxes are already included in the price.

In [1577]:
tax_free_cars = data[(data['deal'] == 'Tax free') | (data['deal'] == 'Tax free, sis. ALV') | (data['deal'] == 'Tax free, ALV väh.kelp.')].index
to_be_deleted.update(tax_free_cars)

In the key column with car price there are 274 cars with status 'Eihinnoiteltu' which means 'No price'. Basically we can add these cars to test dataset so the model could predict price for them as well. However, we won't be able to count error metric for them so I prefer to delete them as well.

In [1578]:
to_be_deleted.update(data[data['car_price'] == 'Eihinnoiteltu'].index)

Finally we can delete those indexes that we've marked.

In [1579]:
data = data.drop(index=to_be_deleted)

As we extracted all necessary information from 'roadworthy' and 'deal' columns we can delete them as well.

In [1580]:
data = data.drop(columns=['roadworthy', 'deal'])

In [1581]:
data['car_price'] = data['car_price'].astype(int)

As result now we have clean dataset without NaN values.

In [1582]:
data['make_model'] = data['make_model'].apply(lambda x: x.lower())

In [1583]:
cars = pd.read_csv('/Users/egor/Documents/data_science_course/project_7/data/characteristics.csv', index_col=0)
cars = cars[['manufacturer', 'model', 'category', 'year', 'gear_box_type', 'doors']]
cars['make_model'] = cars['manufacturer'] + ' ' + cars['model']
cars['make_model'] = cars['make_model'].astype(str).apply(lambda x: x.lower())
cars['gear_box_type'] = cars['gear_box_type'].apply(
    lambda x: {'Automatic': 'Automaatti', 'Tiptronic': 'Automaatti', 'Manual': 'Manuaali', 'Variator': 'Automaatti'}.get(x)
)
cars = cars.drop(columns=['manufacturer', 'model'])
cars = cars.dropna()

In [1584]:
cars_hp = pd.read_csv('/Users/egor/Documents/data_science_course/project_7/data/autoscout24-germany-dataset.csv')
cars_hp['make_model'] = cars_hp['make'] + ' ' + cars_hp['model']
cars_hp['make_model'] = cars_hp['make_model'].astype(str).apply(lambda x: x.lower())
cars_hp = cars_hp.drop(columns=['make', 'model', 'mileage', 'offerType', 'price'])

fuel_dict = {
    'Gasoline': 'Bensiini',
    'Electric/Gasoline': 'Hybridi (bensiini/sähkö)',
    'Electric': 'Sähkö',
    'LPG': 'Kaasu',
    'CNG': 'Kaasu',
    'Electric/Diesel': 'Hybridi (diesel/sähkö)',
    'Others': np.nan,
    '-/- (Fuel)': np.nan,
    'Ethanol': 'E85/bensiini',
    'Hydrogen': np.nan
}

cars_hp['fuel'] = cars_hp['fuel'].apply(lambda x: fuel_dict.get(x, x))

gear_dict = {
    'Manual': 'Manuaali',
    'Automatic': 'Automaatti',
    'Semi-automatic': np.nan
}

cars_hp['gear'] = cars_hp['gear'].apply(lambda x: gear_dict.get(x, x))
cars_hp = cars_hp.dropna()
cars_hp

                           fuel      gear     hp  year       make_model
0                        Diesel  Manuaali  116.0  2011          bmw 316
1                      Bensiini  Manuaali  122.0  2011  volkswagen golf
2                      Bensiini  Manuaali  160.0  2011        seat exeo
3                      Bensiini  Manuaali  110.0  2011   renault megane
4                      Bensiini  Manuaali  156.0  2011      peugeot 308
...                         ...       ...    ...   ...              ...
46400  Hybridi (bensiini/sähkö)  Manuaali   71.0  2021         fiat 500
46401  Hybridi (bensiini/sähkö)  Manuaali   71.0  2021         fiat 500
46402  Hybridi (bensiini/sähkö)  Manuaali   71.0  2021         fiat 500
46403  Hybridi (bensiini/sähkö)  Manuaali   71.0  2021         fiat 500
46404  Hybridi (bensiini/sähkö)  Manuaali   71.0  2021         fiat 500

[46071 rows x 5 columns]

In [1585]:
cars_hp_grouped_year = cars_hp.groupby(by=['make_model', 'year', 'gear', 'fuel'], as_index=False)['hp'].agg(pd.Series.mode)
cars_hp_grouped = cars_hp.groupby(by=['make_model', 'gear', 'fuel'], as_index=False)['hp'].agg(pd.Series.mode)

In [1586]:
data_grouped_year = data.groupby(by=['make_model', 'car_make', 'year', 'gearbox_type', 'fuel_type'], as_index=False)['engine_vol'].count()
data_grouped = data.groupby(by=['make_model', 'gearbox_type', 'fuel_type'], as_index=False)['engine_vol'].count()

In [1587]:
data_joined_year = pd.merge(
    data_grouped_year,
    cars_hp_grouped_year, 
    how='left', 
    left_on=['make_model', 'year', 'fuel_type', 'gearbox_type'],
    right_on=['make_model', 'year', 'fuel', 'gear']
)

In [1588]:
data_joined = pd.merge(
    data_joined_year,
    cars_hp_grouped, 
    how='left', 
    left_on=['make_model', 'fuel_type', 'gearbox_type'],
    right_on=['make_model', 'fuel', 'gear']
)

In [1589]:
data_joined['hp'] = np.where(data_joined['hp_x'].notna(), data_joined['hp_x'], data_joined['hp_y'])
data_joined['hp'] = data_joined['hp'].apply(lambda x: x if isinstance(x, float) else mean(x))
data_joined = data_joined.drop(columns=['engine_vol', 'gear_x', 'gear_y', 'fuel_x', 'fuel_y', 'hp_x', 'hp_y'])

data_joined_make = data_joined.groupby(by='car_make')['hp'].mean()

data_joined = pd.merge(
    data_joined,
    data_joined_make, 
    how='left', 
    on='car_make'
)

data_joined['hp'] = np.where(data_joined['hp_x'].notna(), data_joined['hp_x'], data_joined['hp_y'])
data_joined = data_joined.drop(columns=['car_make', 'hp_x', 'hp_y'])

In [1590]:
data = pd.merge(
    data,
    data_joined, 
    how='left', 
    on=['make_model', 'year', 'gearbox_type', 'fuel_type']
)
data['hp_x'] = np.where(data['hp_x'].notna(), data['hp_x'], data['power']/0.73549875)
data['hp_x'] = np.where(data['hp_x'] > 59, data['hp_x'], data['hp_y'])
data = data.drop(columns=['hp_y', 'power'])
data = data.rename(columns={'hp_x': 'hp'})

In [1591]:
hp_grouped = data.groupby(by=['engine_vol', 'year', 'fuel_type', 'gearbox_type'], as_index=False)['hp'].mean()
hp_grouped['hp'] = hp_grouped['hp'].apply(lambda x: x if isinstance(x, float) else np.nan if len(x)==0 else mean(x))

data = pd.merge(
    data,
    hp_grouped, 
    how='left', 
    on=['engine_vol', 'year', 'fuel_type', 'gearbox_type']
)
data['hp_x'] = np.where(data['hp_x'].notna(), data['hp_x'], data['hp_y'])
data = data.drop(columns=['hp_y'])
data = data.rename(columns={'hp_x': 'hp'})

In [1592]:
hp_grouped_no_year = data.groupby(by=['engine_vol', 'fuel_type'], as_index=False)['hp'].mean()

data = pd.merge(
    data,
    hp_grouped_no_year, 
    how='left', 
    on=['engine_vol', 'fuel_type']
)
data['hp_x'] = np.where(data['hp_x'].notna(), data['hp_x'], data['hp_y'])
data = data.drop(columns=['hp_y'])
data = data.rename(columns={'hp_x': 'hp'})

In [1593]:
data['hp'] = data['hp'].fillna(data['hp'].mean())

In [1594]:
cars_categories = cars.groupby(by=['make_model'], as_index=False)[['doors', 'category']].agg(pd.Series.mode)

cars_categories['doors'] = cars_categories['doors'].apply(
    lambda x: x.replace(' ', '') if isinstance(x, str) else x.tolist()[0].replace(' ', '')
)

cars_categories['category'] = cars_categories['category'].apply(lambda x: x if isinstance(x, str) else x.tolist()[0])

In [1595]:
data = pd.merge(
    data,
    cars_categories, 
    how='left', 
    on='make_model'
)

data['category_x'] = np.where(data['category_x'].notna(), data['category_x'], data['category_y'])

data['doors_x'] = np.where(data['doors_x'].notna(), data['doors_x'], data['doors_y'])

data = data.drop(columns=['category_y', 'doors_y'])
data = data.rename(columns={'category_x': 'category', 'doors_x': 'doors'})

In [1596]:
category_door = cars.groupby(by=['category'], as_index=False)['doors'].agg(pd.Series.mode)
category_door['doors'] = category_door['doors'].apply(
    lambda x: x.replace(' ', ''))

door_category = cars.groupby(by=['doors'], as_index=False)['category'].agg(pd.Series.mode)
door_category['doors'] = door_category['doors'].apply(
    lambda x: x.replace(' ', ''))

data = pd.merge(
    data,
    category_door, 
    how='left', 
    on='category'
)

data['doors_x'] = np.where(data['doors_x'].notna(), data['doors_x'], data['doors_y'])

data = data.drop(columns=['doors_y'])
data = data.rename(columns={'doors_x': 'doors'})

data = pd.merge(
    data,
    door_category, 
    how='left', 
    on='doors'
)

data['category_x'] = np.where(data['category_x'].notna(), data['category_x'], data['category_y'])

data = data.drop(columns=['category_y'])
data = data.rename(columns={'category_x': 'category'})

data = pd.merge(
    data,
    category_door, 
    how='left', 
    on='category'
)

data['doors_x'] = np.where(data['doors_x'].notna(), data['doors_x'], data['doors_y'])

data = data.drop(columns=['doors_y'])
data = data.rename(columns={'doors_x': 'doors'})

In [1597]:
data['engine_vol'] = data['engine_vol'].astype(float)

In [1598]:
main_data = pd.read_csv('/Users/egor/Documents/data_science_course/project_7/data/data_clean.csv', index_col=0)
car_companies = main_data[main_data['is_company'] == 1].groupby(by='car_seller')['town'].count().index
main_data = main_data[[
    'engine_vol', 'make_model', 'awd', 'category', 
    'doors', 'hp', 'capacity', 'fuel_type',
    'price_category', 'gearbox_type']]
md_grouped = main_data.groupby(by=['make_model', 'fuel_type', 'engine_vol'], as_index=False).agg(pd.Series.mode)

data = pd.merge(
    data,
    md_grouped, 
    how='left', 
    on=['make_model', 'engine_vol', 'fuel_type']
)

data['awd_x'] = np.where(data['awd_x'].notna(), data['awd_x'], data['awd_y'])
data['category_x'] = np.where(data['category_x'].notna(), data['category_x'], data['category_y'])
data['doors_x'] = np.where(data['doors_x'].notna(), data['doors_x'], data['doors_y'])
data['hp_x'] = np.where(data['hp_x'].notna(), data['hp_x'], data['hp_y'])
data['capacity_x'] = np.where(data['capacity_x'].notna(), data['capacity_x'], data['capacity_y'])
data['gearbox_type_x'] = np.where(data['gearbox_type_x'].notna(), data['gearbox_type_x'], data['gearbox_type_y'])

data = data.drop(columns=['awd_y', 'doors_y', 'category_y', 'hp_y', 'capacity_y', 'gearbox_type_y'])
data = data.rename(columns={
    'doors_x': 'doors', 
    'awd_x': 'awd',
    'category_x': 'category',
    'hp_x': 'hp',
    'capacity_x': 'capacity',
    'gearbox_type_x': 'gearbox_type'
})

In [1599]:
def get_hp_cat(hp_value):
    if hp_value < 100:
        return 'low (less 100)'
    elif hp_value < 170:
        return 'medium (less 170)'
    elif hp_value < 270:
        return 'high (less 270)'
    else:
        return 'max (more 270)'
    
data['hp_cat'] = data['hp'].apply(get_hp_cat)

Some cars are sold by individuals, others are sold by car companies. I'll mark them as categorical.

In [1600]:
company_tags = [' oy', 'tmi ', '.fi', 't:mi ', ' ky', '.com', ' ab', 'oy ', ' oü']

def is_company(sample_string, car_companies, company_tags):
    if sample_string in car_companies:
        return 1
    else:        
        for tag in company_tags:
            if tag in sample_string:
                return 1
        return 0

data['is_company'] = data['car_seller'].apply(lambda x: is_company(x, car_companies, company_tags))

In [1601]:
population = pd.read_excel('/Users/egor/Documents/data_science_course/project_7/data/001_11lj_2023m08_20231024-194749.xlsx')
population = population.dropna(
    subset=['Unnamed: 1', 'Unnamed: 2']).reset_index(drop=True).drop(
    columns='Preliminary population structure by Month, Area and Information').rename(
    columns={'Unnamed: 1': 'town', 'Unnamed: 2': 'population'})

population['population'] = population['population'].astype(int)

data = pd.merge(
    data,
    population, 
    how='left', 
    on='town'
)

data['population'] = data['population'].fillna(data['population'].median())

In [1602]:
def get_city_cat(population):
    if population <= 6000:
        return 'Very small (0-6k)'
    elif population <= 20000:
        return 'Small (6k-20k)'
    elif population <= 50000:
        return 'Medium (20-50k)'
    elif population <= 100000:
        return 'Big (50-100k)'
    else:
        return 'Biggest (more 100k)'
    
data['town_category'] = data['population'].apply(get_city_cat)

In [1603]:
for i in data.columns[data.isna().any()]:
    data[i] = data[i].fillna(data[i].mode()[0])

In [1604]:
data['mileage'] = data['mileage'].astype(int)
data['awd'] = data['awd'].astype(int)
data['hp'] = data['hp'].astype(int)
data['capacity'] = data['capacity'].astype(int)
data['manual_gearbox'] = data['gearbox_type'].apply(lambda x: 1 if x=='Manuaali' else 0)
data = data.drop(columns=['year', 'gearbox_type'])
data

,town,id,engine_vol,car_make,model,make_model,awd,category,doors,hp,...,mileage,fuel_type,car_seller,car_price,price_category,hp_cat,is_company,population,town_category,manual_gearbox
0,Espoo,https://www.nettiauto.com/toyota/rav4/13931107,2.5,Toyota,RAV4,toyota rav4,0,Jeep,4/5,113,...,112000,Hybridi (bensiini/sähkö),kiesi,23680,Medium,medium (less 170),1,310912.0,Biggest (more 100k),0
1,Kirkkonummi,https://www.nettiauto.com/mercedes-benz/viano/...,2.2,Mercedes-Benz,Viano,mercedes-benz viano,0,Minivan,4/5,172,...,351000,Diesel,uwe schwarz,5700,Highend,high (less 270),0,40983.0,Medium (20-50k),1
2,Hyvinkää,https://www.nettiauto.com/ford/ka/13922153,1.2,Ford,Ka,ford ka,0,Coupe,2/3,127,...,230000,Bensiini,joni palmgren,200,Medium,medium (less 170),0,46889.0,Medium (20-50k),1
3,Jyväskylä,https://www.nettiauto.com/skoda/felicia/13942509,1.6,Skoda,Felicia,skoda felicia,0,Universal,4/5,123,...,266415,Bensiini,jere mustonen,200,Highend,medium (less 170),0,146826.0,Biggest (more 100k),1
4,Loviisa,https://www.nettiauto.com/fiat/marea/13860523,1.6,Fiat,Marea,fiat marea,0,Sedan,4/5,86,...,260000,Bensiini,tiina karttiala,250,Medium,low (less 100),0,14442.0,Small (6k-20k),1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1453,Vaasa,https://www.nettiauto.com/lada/samara/13819797,1.5,Lada,Samara,lada samara,0,Sedan,4/5,142,...,110000,Bensiini,jokke rinkineva oy,1350,Budget,medium (less 170),1,68580.0,Big (50-100k),1
1454,Hämeenlinna,https://www.nettiauto.com/nissan/almera/13823344,1.5,Nissan,Almera,nissan almera,0,Hatchback,4/5,89,...,287000,Bensiini,autokiillotus vuorinen hannu,1350,Medium,low (less 100),1,68208.0,Big (50-100k),1
1455,Parikkala,https://www.nettiauto.com/audi/a4/13831301,2.0,Audi,A4,audi a4,0,Sedan,4/5,150,...,355000,Bensiini,yusufcan sen,1350,Highend,medium (less 170),0,4398.0,Very small (0-6k),1
1456,Oulu,https://www.nettiauto.com/nissan/primera/13842169,1.8,Nissan,Primera,nissan primera,0,Sedan,4/5,89,...,239000,Bensiini,eemil pitkänen,1350,Medium,low (less 100),0,213348.0,Biggest (more 100k),1
1457,Sastamala,https://www.nettiauto.com/volkswagen/golf/1384...,1.9,Volkswagen,Golf,volkswagen golf,0,Hatchback,4/5,105,...,465000,Diesel,mikko tullu,1350,Medium,medium (less 170),0,23618.0,Medium (20-50k),1

In [1605]:
data['category'] = data['category'].apply(lambda x: x[0] if type(x) is np.ndarray else x)
data['doors'] = data['doors'].apply(lambda x: x[0] if type(x) is np.ndarray else x)

In [1606]:
data = data.dropna()
data = data.drop_duplicates()
data.reset_index(drop=True)

,town,id,engine_vol,car_make,model,make_model,awd,category,doors,hp,...,mileage,fuel_type,car_seller,car_price,price_category,hp_cat,is_company,population,town_category,manual_gearbox
0,Espoo,https://www.nettiauto.com/toyota/rav4/13931107,2.5,Toyota,RAV4,toyota rav4,0,Jeep,4/5,113,...,112000,Hybridi (bensiini/sähkö),kiesi,23680,Medium,medium (less 170),1,310912.0,Biggest (more 100k),0
1,Kirkkonummi,https://www.nettiauto.com/mercedes-benz/viano/...,2.2,Mercedes-Benz,Viano,mercedes-benz viano,0,Minivan,4/5,172,...,351000,Diesel,uwe schwarz,5700,Highend,high (less 270),0,40983.0,Medium (20-50k),1
2,Hyvinkää,https://www.nettiauto.com/ford/ka/13922153,1.2,Ford,Ka,ford ka,0,Coupe,2/3,127,...,230000,Bensiini,joni palmgren,200,Medium,medium (less 170),0,46889.0,Medium (20-50k),1
3,Jyväskylä,https://www.nettiauto.com/skoda/felicia/13942509,1.6,Skoda,Felicia,skoda felicia,0,Universal,4/5,123,...,266415,Bensiini,jere mustonen,200,Highend,medium (less 170),0,146826.0,Biggest (more 100k),1
4,Loviisa,https://www.nettiauto.com/fiat/marea/13860523,1.6,Fiat,Marea,fiat marea,0,Sedan,4/5,86,...,260000,Bensiini,tiina karttiala,250,Medium,low (less 100),0,14442.0,Small (6k-20k),1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1452,Vaasa,https://www.nettiauto.com/lada/samara/13819797,1.5,Lada,Samara,lada samara,0,Sedan,4/5,142,...,110000,Bensiini,jokke rinkineva oy,1350,Budget,medium (less 170),1,68580.0,Big (50-100k),1
1453,Hämeenlinna,https://www.nettiauto.com/nissan/almera/13823344,1.5,Nissan,Almera,nissan almera,0,Hatchback,4/5,89,...,287000,Bensiini,autokiillotus vuorinen hannu,1350,Medium,low (less 100),1,68208.0,Big (50-100k),1
1454,Parikkala,https://www.nettiauto.com/audi/a4/13831301,2.0,Audi,A4,audi a4,0,Sedan,4/5,150,...,355000,Bensiini,yusufcan sen,1350,Highend,medium (less 170),0,4398.0,Very small (0-6k),1
1455,Oulu,https://www.nettiauto.com/nissan/primera/13842169,1.8,Nissan,Primera,nissan primera,0,Sedan,4/5,89,...,239000,Bensiini,eemil pitkänen,1350,Medium,low (less 100),0,213348.0,Biggest (more 100k),1
1456,Sastamala,https://www.nettiauto.com/volkswagen/golf/1384...,1.9,Volkswagen,Golf,volkswagen golf,0,Hatchback,4/5,105,...,465000,Diesel,mikko tullu,1350,Medium,medium (less 170),0,23618.0,Medium (20-50k),1

In [1607]:
data.to_csv('/Users/egor/Documents/data_science_course/project_7/data/data_new24_clean.csv')

In [1608]:
ohe_mdl = joblib.load('/Users/egor/Documents/data_science_course/project_7/models/ohe_mdl.joblib')
scaler = joblib.load('/Users/egor/Documents/data_science_course/project_7/models/scaler.joblib')
xgb_reg_gs = joblib.load('/Users/egor/Documents/data_science_course/project_7/models/xgb_reg_gs.joblib')

In [1609]:
data_mdl = data[[
    'make_model',
    'engine_vol',
    'awd', 
    'category',
    'hp',
    'capacity',
    'age',
    'mileage',
    'fuel_type',
    'manual_gearbox',
    'hp_cat',
    'price_category',
    'town_category',
    'is_company',
    'car_price'
]].reset_index(drop=True)

numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
data_mdl_num_cols = list(data_mdl.select_dtypes(include=numerics).columns)
data_mdl_cat_cols = list(data_mdl.select_dtypes(exclude=numerics).columns)

data_mdl_ohe = ohe_mdl.transform(data_mdl[data_mdl_cat_cols])
data_mdl_ohe = pd.DataFrame(data_mdl_ohe, columns=ohe_mdl.get_feature_names_out(input_features=data_mdl_cat_cols))

data_mdl = data_mdl.drop(list(data_mdl_cat_cols), axis=1)
data_mdl = pd.concat([data_mdl, data_mdl_ohe], axis=1)
data_mdl.shape

(1457, 1263)

In [1610]:
X = data_mdl.drop(columns=['car_price'])
y = data_mdl['car_price']

data_mdl_num_cols.remove('car_price')
X[data_mdl_num_cols] = scaler.transform(X[data_mdl_num_cols])

In [1611]:
cols_when_model_builds = xgb_reg_gs.get_booster().feature_names
X = X[cols_when_model_builds]

In [1621]:
y_pred = xgb_reg_gs.predict(X)
data['y_pred'] = y_pred
data['price_diff'] = data['y_pred'] - data['car_price']
data['profit_%'] = data['price_diff']/data['car_price'] * 100
result = data[(data['price_diff'] > 1000) & (data['age'] <15)]
result = result[['make_model', 'id', 'car_price', 'y_pred', 'profit_%']]
result = result.transpose()
result.to_json('/Users/egor/Documents/data_science_course/project_7/data/result.json')